.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
  margin: 8px;
}

.App-header {
  background-color: #379F0F;
  min-height: 16vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: calc(8px + 1vmin);
  color: white;
  padding: 8px;
  margin: 8px 0;
}

.App-link {
  color: #61dafb;
}
